<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestDB" connectionString="
			 Data Source=(local); 
			 Initial Catalog=TestDB;
			 User ID=;
			 Password="/>
		<!--
		// DataSource : 사용할 Server의 이름
		// Initial Catalog : 사용할 Server 안에 있는 Database 이름
		// User ID : Server 안에 있는 Database에 로그인할 계정 ID
		// Password : 계정 ID의 비밀번호
		-->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>